* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Very-dark-blue-main-background: hsl(233, 47%, 7%);
  --Dark-desaturated-blue-card-background: hsl(244, 38%, 16%);
  --Soft-violet-accent: #aa5cdb;
  --White-main-heading-stats: hsl(0, 0%, 100%);
  --Slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --Slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);
}

body {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-family: "Lexend Deca", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--Very-dark-blue-main-background);
  padding: 2rem;
}

.stats-card {
  margin: 7rem;
  max-width: 50rem;
  display: flex;
  flex-wrap: wrap-reverse;
  background-color: var(--Dark-desaturated-blue-card-background);
  color: white;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.stats-card .img {
  width: 50%;
  background-color: var(--Soft-violet-accent);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.stats-card .img img {
  height: 100%;
  width: 100%;
  mix-blend-mode: multiply;
  opacity: 0.8;
}

.stats-card .text {
  padding: 30px 60px 40px 40px;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .stats-card {
    width: 100%;
  }
  .stats-card .text,
  .stats-card .img {
    width: 100%;
  }
  .stats-card .text {
    padding: 1rem;
  }
  .stats-card .img {
    border-top-left-radius: 7px;
    border-bottom-right-radius: 0;
  }
  .stats-card .numbers {
    flex-direction: column;
  }
  .stats-card .numbers .number {
    margin-bottom: 1.5rem;
    text-align: center;
  }
}

.stats-card .text h1 {
  margin: 1.3rem 0;
  font-weight: 700;
  font-size: 28px;
}

.stats-card .text h1,
.numbers .number h2 {
  color: var(--White-main-heading-stats);
}

.stats-card .text h1 span {
  color: var(--Soft-violet-accent);
}

.stats-card .text p {
  color: var(--Slightly-transparent-white-main-paragraph);
  font-size: 15px;
  margin-bottom: 3rem;
  font-weight: 400;
}

.stats-card .text .numbers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.stats-card .numbers h2 {
  margin-bottom: 0.5rem;
}

.stats-card .text .numbers h3 {
  color: var(--Slightly-transparent-white-stat-headings);
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.8px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--White-main-heading-stats);
}

.attribution a {
  color: var(--Soft-violet-accent);
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}
