* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Very-dark-blue-main-background: hsl(233, 47%, 7%);
  --Dark-desaturated-blue-card-background: hsl(244, 38%, 16%);
  --Soft-violet-accent: #aa5cdb;
  --White-main-heading-stats: hsl(0, 0%, 100%);
  --Slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --Slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);
}

body {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-family: "Lexend Deca", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--Very-dark-blue-main-background);
}

.stats-card {
  margin: 5rem;
  width: 50rem;
  display: flex;
  background-color: var(--Dark-desaturated-blue-card-background);
  color: white;
}

.stats-card .img {
  background: url(images/image-header-desktop.jpg);
}

.stats-card .text {
  padding: 40px;
  width: 50%;
}

.stats-card .text h1 {
  margin: 1.3rem 0;
}

.stats-card .text h1,
.numbers .number h2 {
  color: var(--White-main-heading-stats);
}

.stats-card .text h1 span {
  color: var(--Soft-violet-accent);
}

.stats-card .text p {
  color: var(--Slightly-transparent-white-main-paragraph);
  font-size: 15px;
  margin-bottom: 3rem;
  font-weight: 400;
}

.stats-card .text .numbers {
  display: flex;
  justify-content: space-between;
}

.stats-card .text .numbers h3 {
  color: var(--Slightly-transparent-white-stat-headings);
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.8px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
